<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UtilityApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <UtilityApplication.My.MySettings>
            <setting name="AlarmAddMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DiscounterAutoCalculate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiscounterAutoSelect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscounterSuppressErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscounterVersion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimeCalcAutoCalculate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeCalcAutoSelect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeCalcSuppressErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiplesFinderAutoSelect" serializeAs="String">
                <value>False</value>
            </setting>
        </UtilityApplication.My.MySettings>
    </userSettings>
</configuration>